@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Sofia Sans", system-ui, sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    scroll-behavior: smooth;
    text-transform: uppercase;
  }
  button {
    text-transform: uppercase;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
